html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background: url(/assets/Theater\ Stage.jpeg);
  background-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell "Helvetica Neue", sans-serif;
  margin: 0;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37FC1D;
  font-size: 50px;
}

#page-content {
  margin-top: 20px;
  margin: auto;
  width: 50%;
}

#start {
  display: grid;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive, sans-serif;
}

h1 {
  color: #4762FF;
  text-align: center;
  font-size: 40px;
  font-family: 'Lobster', cursive, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

form#input-boxes {
  display: grid;
  grid-template-columns: 147px 147px 147px;
  grid-template-rows: auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

input.words {
  display: flex;
  padding: 5px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

div#button-boxes {
  display: flex;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive, sans-serif;
}

button:hover {
  cursor: pointer;
}

div > button {
  width: 90px;
  margin: 10px;
}

div.reset-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.reset-button {
  display: flex;
  justify-content: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#story {
  font-size: 30px;
  color: #4762FF;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
