html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background: url(/assets/theater2.jpeg);
  background-size: 100%;
  margin: 0;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37FC1D;
  font-size: 50px;
}

#page-content {
  margin-top: 20px;
  margin: auto;
  width: 50%;
}

#start {
  display: grid;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive, sans-serif;
  align-items: center;
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'Lobster', cursive, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

#input-boxes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto;
  justify-content: center;
  border: 2px solid yellow;
}

#inp1, #inp2, #inp3, 
#inp4, #inp5, #inp6, 
#inp7, #inp8, #inp9 {
  place-self: center;
}

.words {
  display: flex;
  padding: 5px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}

#button-boxes {
  display: flex;
  justify-self: center;
  /* margin: auto; */
  margin-top: 20px;
  font-family: 'Lobster', cursive, sans-serif;
}

button:hover {
  cursor: pointer;
}

button {
  width: 100px;
  margin: 10px;
  height: 50px;
  color: black;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.reset-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset-button {
  display: flex;
  justify-content: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color: black;
  height: 50px;
  width: 100px;
}

#story {
  font-size: 30px;
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 1240px) {
  body {
    background: url(/assets/theater2.jpeg);
    background-size: 100%;
    margin: 0;
  }

  #input-boxes {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
  }

  .words {
    display: flex;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  #button-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 20px;
    align-items: center;
    font-family: 'Lobster', cursive, sans-serif;
  }


}
